Django
djangorestframework
djangorestframework-simplejwt
django-filter
psycopg2-binary
django-cors-headers
redis
django-redis
cryptography
python-jose[cryptography]
celery
daphne
channels
channels-redis
drf-yasg
python-dotenv
qrcode
Pillow
twilio
dj-database-url
django-storages
boto3
gunicorn
whitenoise
sentry-sdk